.container{
    margin-bottom: 100px;
  }
  .orange-bg{
      background-color: #fceae8;
    border-radius: 10px;
  }
  .carousel-item{
    padding: 20px 40px;
  }
  .price{
    color: #ff136f;
  }
  .button-buy-now{
      background-image: linear-gradient(to bottom, #FF5898 0%, #FF136F 100%);
      color: #FFF;
      border: none;
      border-radius: 8px;
      padding: 9px 25px;
      cursor: pointer;
  }
  .cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;

  }
  .cat1{
    background-color: orange;
  }
  .cat2{
    background-color: orchid;
  }
  .cat3{
    background-color: blue;
  }
  .categories h1{
    color: white;
  }
  .categories img{
    width: 150px;
  }
  .card{
    border: 10px solid red;
    border: none;
    box-shadow: 5px 5px 10px ;
  }
  .card-footer{
    text-align: center;
    background-color: #000;
    border-top: 5px;
  }
#subsscribe{
  height: 500px;
}
#subscribe{
  color: gray;
  height: 300px;
}
footer{
  text-align: center;
  
}